<div class='form-container'>
  <%= form_for @location do |l| %>
    
    <div class='form-label'>
      <%= l.label :name %>
    </div>
    <div class='form-input'>
      <%= l.text_field :name %>
    </div>

    <div class='form-label'>
      <%= l.label :description %>
    </div>
    <div class='form-input'>
      <%= l.text_area :description %>
    </div>

    <div class='form-label'>
      <%= l.label :address %>
    </div>
    <div class='form-input'>
      <%= l.text_field :address %>
    </div>

    <div class='form-label'>
      <%= l.label :image %>
    </div>
    <div class='form-input'>
      <%= l.text_field :image %>
    </div>
    
    <div class='form-label'>
      <%= l.label :'admission_fee' %>
    </div>
    <div class='form-input'>
      <%= l.number_field :'admission_fee' %>
    </div>

    <div class='form-input'>
      <%= l.submit %>
    </div>

  <% end %>
</div>